body {
    font-family: 'Courier New', monospace;
    background-color: #1b1b1b;
    color: #f0e6d2;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
    border-bottom: 2px solid #f39c12;
    background: linear-gradient(45deg, #e67e22, #d35400);
}

h1 {
    font-size: 3em;
    margin-bottom: 10px;
    color: #f39c12;
    text-shadow: 2px 2px #1b1b1b;
}

nav {
    margin-top: 20px;
}

nav a {
    color: #f39c12;
    text-decoration: none;
    margin: 0 10px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}


a {
    color: #f39c12; /* Change the default link color */
    text-decoration: none; /* Remove underline */
}

a:hover {
    text-decoration: underline; /* Add underline on hover */
    color: #e67e22; /* Slightly different shade on hover */
}


.hero {
    text-align: center;
    padding: 50px 0;
    background-color: #34495e;
    color: #f0e6d2;
    border-bottom: 2px solid #f39c12;
    background: linear-gradient(45deg, #34495e, #2c3e50);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hero h2 {
    font-size: 2em;
    color: #f39c12;
    text-shadow: 2px 2px #1b1b1b;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

th, td {
    border: 1px solid #f39c12;
    padding: 10px;
    text-align: left;
    background-color: #2c3e50;
    color: #f0e6d2;
}

th {
    background-color: #e67e22;
    cursor: pointer;
}

tr:nth-child(even) {
    background-color: #34495e;
}

tr:hover {
    background-color: #f39c12;
    color: #1b1b1b;
}

.rating {
    color: #f39c12;
}

#monero-tps-display {
    text-align: center;
    margin-top: 40px;
    background-color: #34495e;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

button {
    background-color: #f39c12;
    color: #1b1b1b;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #e67e22;
}
